.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../resources/book-wall-1151405_1920.jpg');
    min-height: 100vh;
    width: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar {
    margin-top: 10%;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
}

.tag {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: black;
    cursor: pointer;
}

.footerContainer {
    margin-top: auto;
    width: 100%;
}