.container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.centerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search {
    margin-top: 20px;
    /* Adjust margin as needed */
}

.articles {
    margin-top: 10px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Adjust minmax value as needed */
    grid-gap: 20px;
    /* Adjust gap between items as needed */
}

.articles a{
    text-decoration: none;
}