@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.login-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    background: url('../../resources/wallpaper.jpg') no-repeat center center;
    background-size: cover;
    overflow: hidden;
    position: fixed;
}

.container {
    background-color: #cccccc; /* Semi-transparent background */
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

.join-now {
    position: absolute;
    top: 20px;
    right: 20px;
}

.join-now a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px; /* Increased width */
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 100%; /* Full width */
    max-width: 460px; /* Match form's max width minus padding/margins */
    padding: 10px;
    margin: 10px 0;
    font-family: 'Arial, FontAwesome';
    border: 1px solid #ccc;
    border-radius: 4px;
}

.eye-icon-button {
    position: absolute;
    right: 10px; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.login-form-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form-submit-button:hover {
    background-color: #0056b3;
}

.forgot-password {
    margin-top: 20px;
    color: darkblue;
}

.forgot-password a {
    text-decoration: none;
    color: darkblue;
}

.password-requirements {
    font-family: 'Lobster', sans-serif;
    font-weight: 400;
    color: black;
    margin-top: 20px;
}

.password-requirements ul {
    list-style-type: none;
    padding: 0;
}

.password-requirements-right-symbol {
    font-size: 20px;
    color: green;
}

.password-requirements-wrong-symbol {
    font-size: 20px;
    color: red;
}
