.background-image-container {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #d9d9d9 80%, #2E52C2 20%); */
    background: url("../../resources/library-login-bg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.sign-in {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: auto;
}

.sign-in p {
    color: black;
    font-size: 15px;
}

.sign-in a {
    margin-left: 5px;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px;
    border-radius: 5px;
}

/* Style 4 class form */
.form {
    position: absolute;
    top: 10vh;
    max-width: 400px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    right: 35vw;
}

.form form {
    display: grid;
    gap: 10px;
}

.form input {
    font-family: 'fontAwesome';
}

.form input[type='text'],
.form input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.password-requirements {
    margin-top: 5px;
    color: black;
}

.password-requirements ul {
    list-style-type: none;
    padding: 0;
}

.password-requirements li {
    margin-bottom: 5px;
}

.terms {
    margin-top: 20px;
}

.terms p {
    font-size: 14px;
    text-align: center;
    color: black;
}

.terms a {
    color: blue;
}

.next-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}