@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --font-1: "Oswald", sans-serif;;
}

.background-image-container {
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to right, #d9d9d9 80%, #2E52C2 20%); */
    background: url("../../resources/library-login-bg.jpg");
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

.container {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 100vh;
}

.sign-in {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: auto;
}

.sign-in p {
    color: black;
    font-size: 15px;
}

.sign-in a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px;
    border-radius: 5px;
}

/** Styles for form */

.confirmation-form-container {
    width: 40vw;
    height: 50vh;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    position: relative;
    margin-left: 30vw;
}


.confirmation-details {
    margin-top: 2vh;
    margin-bottom: 20px;
    padding: 20px 40px;
    font-family: var(--font-1);
}

/* Contents */
.confirmation-details p {
    font-size: 16px;
    color: #333;
    margin: 5px 0;
}

.first-name input,
.last-name input {
    font-weight: bold;
}

.dob input {
    font-style: italic;
}

.class-details {
    color: #007bff;
}
/*************************************************************/

.confirm-details-next-button {
    margin: 20px 15vw;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}