@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --font-1: "Playfair Display", serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.contents {
    margin-top: 5vh;
    max-width: 70vw;
    width: 60vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contents h1{
    font-family: var(--font-1);
    padding: 2px 0px 25px 0px;
}