.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    overflow: hidden;
}

.contents {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 40vw;
}

.heading{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bookList {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.listItem{
    padding-top: 25px;
    max-width: 10vw;
}