@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
    --font-1: "Oswald", sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.content h1{
    font-family: var(--font-1);
}

.bookViewContainer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}