.form{
    width: 80%;
}

.article-form-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: url(../resources/publish-article-wallpaper.jpg) center/cover;
}

h2 {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="file"],
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

img {
    width: 70%;
    max-width: 80%;
    height: auto;
}

.article-form-container {
    position: relative;
}

.submit-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    padding: 50px;
}

.input-data-container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.image-input{
    width: 50%;
}
