.login-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
}

.img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
}

.background-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.login-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    z-index: 1;
    text-align: center;
    color: #fff;
    margin-left: 25vw;
}

.join-now {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 2;
    width: auto;
}

.login-form {
    margin-bottom: 20px;
}

.login-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    padding: 100px;
}

.form{
    width: 300px;
    overflow-wrap: break-word;
}
.login-form input[type='text']{
    width: 300px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}

.login-form-submit-button {
    width: 300px;
    padding: 10px;
    background-color: #24243E;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.join-now a{
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 10px;
    padding: 10px;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.input-wrapper {
    position: relative;
}

.login-input {
    width: calc(50% - 20px); /* Adjust width as needed */
    padding-right: 40px; /* Space for the icon */
}

.invalid-email {
    color: red;
    margin: 0;
    padding: 5px 0;
}