.userChatContainer {
    border: 2px solid black;
    border-radius: 10px;
    width: 70vw;
    margin-left: 15vw;
    margin-top: 2vh;
    padding: 20px;
}

.chatBox {
    max-height: 70vh;
}

.messageInputContainer {
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageInput {
    margin-right: 15px;
    height: 50px;
}

.sendMessageButton {
    border-radius: 2px;
}