@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.background-image-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../resources/library-login-bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 0.5;
}

.sign-in {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
}

.sign-in p {
    color: black;
    font-size: 15px;
}

.sign-in a {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px;
    border-radius: 5px;
}

.verify-email-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.verify-email-container {
    margin-bottom: 20px;
}

.verify-email-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group input {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    padding: 10px;
    margin: 10px 0;
}

.form-group button {
    width: 200px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    background-color: #007bff;
    padding: 10px;
    margin: 10px 0;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 500;
}