.viewArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.content {
    background-color: #F5F5F5;
}



.articleImage {
    width: 100vw;
    height: 40vh;
    object-fit: fill;
}

.articleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 0 auto;
}

.articleImage {
    width: 100%;
    max-height: 300px;
    /* Adjust the max-height as needed */
    object-fit: cover;
    margin-bottom: 20px;
}

.articleHeader {
    text-align: center;
}

.articleContent {
    text-align: center;
}

.articleHeader h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.articleHeader p {
    font-size: 14px;
    color: #666;
}

.articleHeader span {
    margin-right: 10px;
}

.articleContent p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}



.authorSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.authorDetails {
    display: flex;
    align-items: center;
}

.authorImage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.authorDetails p {
    font-size: 16px;
}

.publishedDate p {
    font-size: 14px;
}




.RatignAndCommentSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}


.writeComment {
    margin-top: 20px;
}

.writeComment textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.writeComment button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.writeComment button:hover {
    background-color: #0056b3;
}



.ratingSection {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin: 30px 0px;
}