@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

:root{
    --font-1: 'Oswald', sans-serif;
    --font-2: 'Abril Fatface', cursive;
}

.book-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 20vw;
    padding: 20px;
    background-color: #cccccc;
    border-radius: 10px;
}

.book-image {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.book-info {
    text-align: center;
    margin-bottom: 5px;
}

.book-info p{
    font-family: var(--font-2);
}

.availability-status {
    text-align: center;
}

.available {
    color: green;
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 600;
}

.notAvailable {
    color: red;
    font-family: var(--font-1);
    font-size: 20px;
    font-weight: 600;
}