@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root{
    --font-1: 'Oswald', sans-serif;
    --font-2: 'DM Serif Display', serif;
}

.changePasswordContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    border: 2px solid #595959;
    border-radius: 10px;

    font-family: var(--font-1);
}

.changePasswordContainer h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.changePasswordForm {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.changePasswordFormItem {
    margin-bottom: 20px;
}

.changePasswordFormItem label {
    font-size: 16px;
    margin-bottom: 6px;
    color: #333333;
}

.changePasswordFormItem input {
    width: calc(100% - 50px);
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

.visibilityToggleBtn {
    position: absolute;
    top: 20px;
    right: 5px;
    transform: translateY(-50%);
}


.changePasswordSubmitBtn {
    align-self: center;
    width: 50%;
    max-width: 200px;
    padding: 12px;
    border-radius: 6px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #4caf50;
    color: #ffffff;
    border: none;
    cursor: pointer;

    font-family: var(--font-2);
}

.changePasswordSubmitBtn:hover {
    background-color: #45a049;
}