.topButtonContainer {
    display: flex;
    align-items: center;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10vw;
    margin-top: 5px;
}

.content {
    margin-left: 8px;
}