.success-msg-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    border-radius: 10px;
}

.success-icon {
    font-size: 100px;
    color: #4CAF50;
}

.success-msg-title{
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.success-message-text {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}