.deleteMemberComponent {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column; /* 2 Display children elements vertically */
    align-items: center; /* 2 Center align children horizontally */
    width: 70%;
    margin: 0 auto;
}

.deleteMemberComponent h2 {
    margin: 0 0 20px 0;
}

.deleteMemberComponent input {
    margin-bottom: 10px;
    padding: 8px;
    width: 60%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.deleteMemberComponent button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #dc3545;
    color: white;
    cursor: pointer;
}

.deleteMemberComponent button:hover {
    background-color: #c82333;
}

.deleteMemberComponent .searchResults {
    margin-top: 20px;
}