.singleSearchResult {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.profilePicture img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 20px;
    border: #ccc solid 5px;
}

.details p {
    margin: 5px 0;
    align-items: right;
    /* align-items: center; */
}