.article-summary-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.article-image {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}


.article-summary {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}


.author-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}


.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}


.article-title {
    font-weight: bold;
}


.publication-date {
    font-size: 14px;
    color: #999;
}

.article-summary-wrapper{
    background-color: #bfbfbf;
    width: 20%;
    height: auto;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}