.nonSelectMsg {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Align items vertically */
    align-items: center; /* Align items horizontally */
    height: 200px;
  }
  
  .nonSelectMsg p {
    margin-bottom: 10px;
  }
  